@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --clr-black: rgb(12, 5, 5);
  --clr-gray: rgb(211, 205, 205);
  --clr-white: #f8f8ff;

  --type-ver-todo: rgb(206, 193, 193);
  --type-normal: #a8a878;
  --type-fire: #f08030;
  --type-water: #6890f0;
  --type-electric: #f8d030;
  --type-grass: #78c850;
  --type-ice: #98d8d8;
  --type--fighting: #c03028;
  --type---poison: #a040a0;
  --type-ground: #e0c068;
  --type-flying: #a890f0;
  --type-psychic: #f85888;
  --type-bug: #a8b820;
  --type-rock: #b8a038;
  --type-ghost: #705898;
  --type-dragon: #7038f8;
  --type-steel: #b8b8d0;
  --type-fairy: #ee99ac;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  color: black;
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(41, 39, 39, 0.5)),
    url(https://pbs.twimg.com/media/EaiLNR-XkAEsgIm?format=jpg&name=large);
}

header {
  padding-block: 0.1rem;
  box-shadow: 0 0 2rem -1rem black;
}

.nav {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  gap: 1rem;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-area: 0.5rem;
}

.btn-header {
  width: 145px;
  background-color: var(--clr-gray);
  padding: 0.5rem;
  border-radius: 8rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 800;
  box-shadow: 0 0 1rem black;
  margin: 0.2rem;
}

.btn-header:hover {
  transform: scale(1.1);
  box-shadow: 0 0 2rem black;
}

main {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.pokemon-todos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media screen and (min-width: 480px) {
  .pokemon-todos {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 700px) {
  .pokemon-todos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.pokemon {
  border-radius: 2rem 5rem;
  background-color: var(--clr-white);
  box-shadow: 0 0 3rem -1rem rgb(0, 0, 0, 0.25);
  padding-block: 1rem;
  text-transform: uppercase;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  border: 5px solid black;
  background-position: 10% 100%;
}

.pokemon:hover {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
  transform: translateY(-10px);
  background-color: #f0f0f0;
  transition: all 0.3s ease;
}

.pokemon:hover {
  border-color: #224aa9;
}

.pokemon:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.15;
}

.pokemon-id-back {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translate(-50%);
  font-size: 6rem;
  font-weight: 800;
  z-index: -1;
  color: var(--clr-gray);
}

.pokemon-imagen {
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
}

.pokemon-imagen img {
  width: 100%;
  max-width: 6.5rem;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: 1rem;
  align-items: center;
  text-align: center;
}

.nombre-contenedor {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-id {
  background-color: var(--clr-gray);
  padding: 0.25rem 0.5rem;
  border-radius: 100vh;
  font-weight: 500;
}

.pokemon-nombre {
  font-size: 1.5rem;
}

.pokemon-tipos {
  display: flex;
  gap: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  flex-wrap: wrap;
  justify-content: center;
}

.tipo {
  padding: 0.25rem 0.5rem;
  border-radius: 100vh;
}

.pokemon-stats {
  display: flex;
  gap: 1rem;
  font-size: 0.85rem;
}

.stat {
  background-color: var(--clr-gray);
  padding: 0.25rem 0.5rem;
  border-radius: 100vmax;
}

.cerrar-sesion {
  color: #fff;
  width: 150px;
  background-color: #e63946;
  padding: 0.2rem;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1rem;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  margin: 0.2rem;
  border: 3px solid #e63946;
  transition: all 0.3s ease;
  position: fixed;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cerrar-sesion:hover {
  background-color: #000000;
  color: #ffffff;
  transform: scale(1.05);
}

.cerrar-sesion:focus {
  outline: none;
  box-shadow: 0 0 10px #224aa9;
}

.pokedex-neoland {
  max-width: 80%;
  margin: auto;
}

ul {
  list-style-type: none;
}

.ver-todo {
  background-color: var(--type-ver-todo);
  color: var(--clr-black);
}

.normal {
  background-color: var(--type-normal);
  color: var(--clr-black);
}

.water {
  background-color: var(--type-water);
  color: var(--clr-black);
}

.fire {
  background-color: var(--type-fire);
  color: var(--clr-black);
}

.ice {
  background-color: var(--type-ice);
  color: var(--clr-black);
}

.rock {
  background-color: var(--type-rock);
  color: var(--clr-black);
}

.ghost {
  background-color: var(--type-ghost);
  color: var(--clr-black);
}

.fairy {
  background-color: var(--type-fairy);
  color: var(--clr-black);
}

.grass {
  background-color: var(--type-grass);
  color: var(--clr-black);
}

.ground {
  background-color: var(--type-ground);
  color: var(--clr-black);
}

.bug {
  background-color: var(--type-bug);
  color: var(--clr-black);
}

.flying {
  background-color: var(--type-flying);
  color: var(--clr-black);
}

.electric {
  background-color: var(--type-electric);
  color: var(--clr-black);
}

.steel {
  background-color: var(--type-steel);
  color: var(--clr-black);
}

.psychic {
  background-color: var(--type-psychic);
  color: var(--clr-black);
}

.fighting {
  background-color: var(--type--fighting);
  color: var(--clr-black);
}

.ice {
  background-color: var(--type-ice);
  color: var(--clr-black);
}

.dragon {
  background-color: var(--type-dragon);
  color: var(--clr-black);
}

.poison {
  background-color: var(--type---poison);
  color: var(--clr-black);
}

#buscador {
  display: flex;
  gap: 50px;
  align-items: center;
}

#pokemon-name {
  padding: 5px;
  width: 250px;
}

#pokemon-info {
  border-radius: 2rem;
  background-color: var(--clr-white);
  box-shadow: 0 0 3rem -1rem rgb(0, 0, 0, 0.25);
  padding-block: 1rem;
  text-transform: uppercase;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  background-position: 10% 100%;
  justify-items: center;
  border: 1px solid black;
}

#pokemon-info img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

#pokemon-name {
  border-radius: 5rem;
}

@media (max-width: 600px) {
  form {
    width: 90%;
    height: auto;
    padding: 10px;
  }

  form img {
    width: 150px;
    height: 150px;
  }

  form input[type="text"],
  input[type="password"] {
    width: 90%;
    font-size: 14px;
  }

  form button {
    width: 80%;
    font-size: 16px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  form {
    width: 80%;
    height: auto;
  }

  form img {
    width: 180px;
    height: 180px;
  }

  form input[type="text"],
  input[type="password"] {
    width: 85%;
  }

  form button {
    width: 70%;
    font-size: 17px;
  }

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  form {
    width: 400px;
    height: 655px;
  }

  form img {
    width: 200px;
    height: 200px;
  }

  form input[type="text"],
  input[type="password"] {
    width: 80%;
    font-size: 16px;
  }

  form button {
    width: 60%;
    font-size: 18px;
  }

  h1 {
    font-size: 36px;
  }

  p {
    font-size: 18px;
  }
}
